<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.litepaltest">
    <uses-sdk android:targetSdkVersion="9" android:minSdkVersion="8"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"> </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"> </uses-permission>
    <uses-permission android:name="android.permission.INTERNET"> </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"> </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"> </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"> </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"> </uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"> </uses-permission>
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE"> </permission>
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE"> </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"> </uses-permission>
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION"> </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/clock"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="CoStU82PMMVoMMb3oGi5NaQf2s5dfC6D" />

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoAnimationTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>

        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">

        </service>

        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RegulateActivity" />
        <activity android:name=".New_ToDo_Activity" />
        <activity android:name=".New_Calendar_Activity" />
        <activity android:name=".New_Time_Activity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".FriendActivity" />
        <activity android:name=".New_Friend_Activity" />
        <activity android:name=".Analysis_Setting_Activity" />
        <activity android:name=".RankingActivity" />
        <activity android:name=".AboutActivity" />

        <activity android:name=".CalendarActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoAnimationTheme"/>

        <activity android:name=".HabitActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoAnimationTheme"/>

        <activity android:name=".TimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoAnimationTheme"/>

        <activity android:name=".AnalysisActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoAnimationTheme"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.litepaltest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>

</manifest>